# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
.dist-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache/
*.cover
*.py,cover

# Coverage reports
htmlcov/
coverage.xml
*.cover

# TypeScript
*.tsbuildinfo

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-error.txt

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Other
*.log
*.pot
*.py[cod]
*.bak
*.tmp

# Environment variables
.env
